@mixin setPaddingForHeaderSection() {
    $h-padding-top: 45px;
    padding-top: $h-padding-top;
    padding-bottom: $h-padding-top /2;
}
@mixin setFontSize($base) {
    html, body {
        font-size: $base;
    }
    main {
        h1 {
            font-size: $base * 4.2;
        }
        small {
            font-size: $base * 1.2;
        }
    }
    #about-us {
        font-size: $base;
        i {
            font-size: $base * 3.5;
        }
    }
    .card {
        h4 {
            font-size: $base * 1.1;
        }
        .card-text {
            font-size: $base * 0.9;
        }
    }
    footer {
        font-size: $base * 0.9;
    }
}
$padding-first: 400px;
@mixin setPaddingsAndMargin($base) {
    $space-between-sections: 180px;
    main {
        #first-section {
            $result: $base * 6;
            padding-top: $result;
            padding-bottom: $result;
        }
        #about-us {
            padding-top: $base * 2;
            i {
                padding-bottom: $base;
                padding-top: $base;
            }
            h3 {
                margin-bottom: $base;
            }
        }
        #projects {
            padding-top: $base * 2;
        }
        #contact {
            padding-top: $base * 2;
            margin-bottom: $base * 4;
            h2 {
                @include setPaddingForHeaderSection();
            }
        }
    }
}
/*HELPERS*/
.no-break {
    white-space: nowrap;
}
.text-white {
    color: #fff;
}
no-padding {
    padding: 0 !important;
}