@import "helpers.scss";
$bs-gray: #373a3c;
$about-font-size: 22px;

@include setFontSize(22px);
@include setPaddingsAndMargin(30px);

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

.navbar {
    button {
        &:focus {
            outline: none !important;
        }
    }
}
/*MAIN*/
a {
    &:active,
    &:visited,
    &:link,
    &:focus,
    &:hover {
        text-decoration: none !important;
    }
}
body {
    background-image: url('../assets/trees-min.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    small {
        font-style: italic;
        font-weight: 100;
    }
    #about-us {
        line-height: 200%;
    }
    .author {
       @include setPaddingForHeaderSection();
    }
    .card-group {
        $margin: 20px;
        .card {
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 0;
            a {
                color: #fff;
                &:hover,
                &:active {
                    color: #a4a4a4;
                }
            }
            .card-text {
                color: #b4b4b4;
                font-weight: 100 !important;
            }
        }
    }
    #contact {
        line-height: 180%;
    }
}
footer {
    $footer-padding: 10px;
    background-color: #000C17;
    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
    a {
        color: $bs-gray;
    }
}

/*MEDIA*/
@media screen and (min-width: 991px) {
    $space: 100px;
    #love {
        padding-right: $space / 2;
    }
    #about {
        padding-right: $space / 2;
        padding-right: $space / 2;
    }
    #we-do {
         padding-left: $space / 2;
    }
}
@media screen and (max-width: 991px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media screen and (max-width: 767px) {

}
@media screen and (min-width: 576px) {
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media screen and (max-width: 576px) {
    @include setFontSize(18px);
    @include setPaddingsAndMargin(22px);
}